{% extends 'nav.html' %}

{% block head %}
<title>AeroDB: Browse Projects</title>
<style>
    .scrollable {
        height: 300px;
        overflow-y: auto;
        width: 90%;
        margin: auto;
        border: 1px solid #dee2e6;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
    }

    .box {
        margin-bottom: 2rem;
    }

    .sticky-thead th {
        position: sticky;
        top: 0;
        background-color: #f8f9fa;
    }
</style>
{% endblock %}

{% block body %}
<h2 class="text-center">Project List</h2>

<form id="standForm" action="/browse/stands" method="post">
    {% for company in companies %}
    <div class="box">
        <h3 class="text-center">{{ company.client_name }} ({{ company.projects|length }})</h3>
        <div class="scrollable mt-3">
            <table class="table table-striped">
                <thead class="thead-dark sticky-thead">
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Questions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in company.projects %}
                    <tr>
                        <td><input type="checkbox" name="projectCheck"
                                value="{{ project.ID }}*{{ project.NAME }}*{{ company.client_name }}"></td>
                        <td>{{ loop.index }}</td>
                        <td>{{ project.ID }}</td>
                        <td>{{ project.NAME }}</td>
                        <td>{{ project.CREATION_DATA }}</td>
                        <td>{{ project.NOTES }}</td>
                        <td>{{ project.QUESTIONS }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}

    <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary">View Stands for Selected Projects</button>
    </div>
</form>
{% endblock %}