{% extends 'nav.html' %}

{% block head %}
<title>AeroDB: Browse Clients</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .scrollable {
        height: 500px;
        overflow-y: auto;
        width: 90%;
        /* 90% of the container width */
        margin: auto;
        /* center the element */
        border: 1px solid #dee2e6;
        /* border color */
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
        /* box shadow */
    }

    .sticky-thead th {
        position: sticky;
        top: 0;
        background-color: #f8f9fa;
    }
</style>
{% endblock %}

{% block body %}
<h2 class="text-center">Client List</h2>
<form id="clientForm" action="/browse/projects" method="post">
    <div class="scrollable mt-3">
        <table class="table table-striped">
            <thead class="thead-dark sticky-thead">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td><input type="checkbox" name="clientCheck" value="{{ client.ID }}*{{ client.NAME }}"></td>
                    <td>{{ client.ID }}</td>
                    <td>{{ client.NAME }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}