{% extends 'nav.html' %}

{% block head %}
<title>AeroDB: Full Stand Info</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .table-container {
        height: 400px;
        overflow: auto;
        margin-bottom: 20px;
        border: 1px solid #ccc;  /* Add border to the table container */
        border-radius: 5px;  /* Add border radius for rounded corners */
        padding: 10px;  /* Add padding for spacing between border and table */
    }
</style>
{% endblock %}

{% block body %}

<h2 class="text-center">Full Data for Stands</h2>

{% for name, company in data.items() %}
    <h2>{{ name }}</h2>
    <div class="table-container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>PERSISTENT ID</th>
                    <th>CLIENT NAME</th>
                    <th>CLIENT ID</th>
                    <th>PROJECT NAME</th>
                    <th>PROJECT ID</th>
                    <th>ACRES</th>
                    <th>LOCATION</th>
                    <th>PROJECT CREATION DATA</th>
                </tr>
            </thead>
            <tbody>
                {% for item in company %}
                    <tr>
                        <td>{{ item.ID }}</td>
                        <td>{{ item.PERSISTENT_ID }}</td>
                        <td>{{ item.CLIENT_NAME }}</td>
                        <td>{{ item.CLIENT_ID }}</td>
                        <td>{{ item.PROJECT_NAME }}</td>
                        <td>{{ item.PROJECT_ID }}</td>
                        <td>{{ item.ACRES }}</td>
                        <td>{{ item.LOCATION }}</td>
                        <td>{{ item.PROJECT_CREATION_DATA }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}

{% endblock %}
